{{> navbar }}

<div class="row m-5">
<h1>hola soy la pagina de inicio</h1>



<div class="card" style="width: 18rem;">
  <img src={{img}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{producto.title}}</h5>
    <p class="card-text">{{description}}</p>
    <p>Precio:{{price}}</p>
    <p>Stock: {{stock}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<h3>el valor total es {{valorfinal}}</h3>
</div>